* {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #94a4fc;
  overflow: hidden;
  position: relative;
}
.firma{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #141a26;
  font-size: 12px;
  padding-bottom: 10px;
}


/* container for grid */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plasticBorder {
  width: 700px;
  height: 435px;
  display: flex;
  flex-direction: row-reverse;
  background-color: red;
  border-radius: 50px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 2px 2px 5px rgba(255, 255, 255, 0.3);
}

.rigt-side {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: red;
  gap: 8px;
}

.logo {
  width: 100%;
  height: auto;
  padding-left: 30px;
}
.buttons {
  width: 100%;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs-color {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 40px;
  height: 40px;
  border: none;
  /* color: white; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 6px; */
  margin: 2px 2px;
  cursor: pointer;
}

label {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 2px 0px  #000000;
}

.grid-sketch {
  width: 96%;
  justify-content: center;
  min-width: 400px;
  height: 107%;
  overflow: hidden;
}

/* class for boxes grid */
.box {
  width: calc(100% / 16);
  height: 20px;
  background-color: white;
  border: 0.5px, solid black;

  transition: all 0.4s ease-in-out;
}

.button-neobrutal {
  padding: 1rem 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  background-color: #eee;
  border: 2px solid #222;
  border-radius: 100%;
  box-shadow: 4px 4px 0 #222;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.button-neobrutal:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0 #222;
}

.button-neobrutal:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 #222;
}

.button-neobrutal:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 #222;
}

#color {
  box-shadow: 4px 4px 0 #222;
}
